body {
  font-family: "Montserrat", Verdana, Arial, sans-serif;
}

section {
  display: flex;
}

nav {
  flex: 1;
  overflow: hidden;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

p {
  font-weight: 300;
}

#container {
  margin-top: 2%;
  margin-inline: 5%;
  padding: 10px;
}

#page-title {
  text-align: center;
  font-weight: 400;
}

.page-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

#item-1 {
  grid-row-start: 1;
  grid-column-start: 1;
}

#item-2 {
  grid-row-start: 2;
  grid-column-start: 1;
}

#item-3 {
  grid-row-start: 3;
  grid-column-start: 1;
}

#item-4 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  margin-top: 50px;
  margin-inline: 40px;
}

.image-title {
  text-align: center;
  font-weight: 300;
}

.home-image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  margin: 5px;
}

.about-image {
  float: right;
  max-width: 30%;
  height: auto;
  border-radius: 15px;
  margin: 5px;
}

.hobbies-image {
  object-fit: cover;
  object-position: center;
  height: 400px;
  width: 400px;
  border-radius: 15px;
  margin: 5px;
}
