html {
  min-height: 100%;
}

body {
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  background-image: linear-gradient(white, rgba(138, 71, 255));
}

nav {
  flex: 1;
  overflow: hidden;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.column h1 {
  text-shadow: rgba(138, 71, 255) 1px 0 10px;
  color: rgba(138, 71, 255);
}

nav ul {
  float: right;
  list-style-type: none;
  padding: 0;
}

nav li {
  float: left;
}

nav a {
  float: left;
  display: inline;
  font-weight: 500;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: rgba(138, 71, 255);
}

nav a:focus {
  background-color: rgb(138, 71, 255);
  color: white;
  border-radius: 15px;
}

nav a:hover {
  background-color: rgb(138, 71, 255);
  color: white;
  border-radius: 15px;
}

p {
  font-weight: 300;
}

#container {
  margin-top: 2%;
  margin-inline: 5%;
  padding: 10px;
}

#page-title {
  text-align: center;
  font-weight: 400;
}

section {
  display: flex;
}

.image-title {
  text-align: center;
  font-weight: 300;
}

img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  border: 5px solid white;
  margin: 5px;
}

#about-text {
  padding-inline: 20px;
  font-size: larger;
}

#home-footer {
  position: absolute;
}

footer {
    bottom: 0;
    width: 100%;
    left: 0;
}

footer p {
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
    font-size: .75em;
}
